<div *ngFor="let movie of movies;" class="border rounded-md flex items-center gap-2">
    
    <shared-lazy-images
        url="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
        [alt]="movie.title"></shared-lazy-images>
    <!-- <div class="w-1/6">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}"
            class="object-cover h-44 w-32 rounded-md ">
    </div> -->
    <div class="w-5/6 p-2">
        <p class="font-semibold">{{movie.title}}</p>
        <p class="text-sm">{{movie.original_title}}</p>
        <p class="line-clamp-3">{{movie.overview}}</p>

        <div>{{movie.popularity}}</div>
        <div>{{movie.release_date}}</div>
    </div>
</div>
